.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #f0f0f0;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    color: #007BFF;
}
p {
    color: #555;
}
main {
    max-width: 600px;
    margin: 0 auto;
}
section {
    margin-bottom: 20px;
}
h2 {
    color: #007BFF;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}
div {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}
section h2 {
    font-size: 20px;
}
button {
    background-color: 007BFF6;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #170f35;
    color: rgb(4, 47, 54);
}
main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p#resultado {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
p#resultado span {
    color: #007BFF;
}
button { 
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}